.DS_Store
node_modules
dist/

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
dist/fonts/fa-brands-400.29e1f753.ttf
dist/fonts/fa-brands-400.68c177c2.woff2
dist/fonts/fa-brands-400.72721167.eot
dist/fonts/fa-brands-400.fb481cb3.woff
dist/fonts/fa-light-300.1008b6dd.woff
dist/fonts/fa-light-300.20bbccf1.woff2
dist/fonts/fa-light-300.7f384302.ttf
dist/fonts/fa-light-300.a06baf70.eot
dist/fonts/fa-regular-400.239abe3e.woff
dist/fonts/fa-regular-400.8cfe82e8.woff2
dist/fonts/fa-regular-400.bd86e53d.ttf
dist/fonts/fa-regular-400.df3024c0.eot
dist/fonts/fa-solid-900.11823289.eot
dist/fonts/fa-solid-900.6a9e75cc.woff
dist/fonts/fa-solid-900.e57324a4.woff2
dist/fonts/fa-solid-900.ff4aabff.ttf
dist/fonts/MaisonNeue-Bold.6023c680.otf
dist/fonts/MaisonNeue-Book.07f3ad6e.otf
dist/fonts/MaisonNeue-BookItalic.7bdcc709.otf
dist/fonts/MaisonNeue-Demi.867ffd56.otf
dist/img/fa-brands-400.f7764562.svg
dist/img/fa-light-300.9969a9da.svg
dist/img/fa-regular-400.416d5829.svg
dist/img/fa-solid-900.506bcfea.svg
dist/index.html
dist/js/app.61408883.js
dist/js/app.61408883.js.map
dist/js/chunk-02dbc600.d6380e0d.js
dist/js/chunk-02dbc600.d6380e0d.js.map
dist/js/chunk-2d22d746.757261ec.js
dist/js/chunk-2d22d746.757261ec.js.map
dist/js/chunk-318dba7c.35818660.js
dist/js/chunk-318dba7c.35818660.js.map
dist/js/chunk-33ca1138.b4b64f0b.js
dist/js/chunk-33ca1138.b4b64f0b.js.map
dist/js/chunk-4dcc025d.000374c3.js
dist/js/chunk-4dcc025d.000374c3.js.map
dist/js/chunk-5f0eab33.c0689d7d.js
dist/js/chunk-5f0eab33.c0689d7d.js.map
dist/js/chunk-6967c026.0a4b91c5.js
dist/js/chunk-6967c026.0a4b91c5.js.map
dist/js/chunk-ef9f3a70.be18b5ef.js
dist/js/chunk-ef9f3a70.be18b5ef.js.map
dist/js/chunk-vendors.dd4cc5e0.js
dist/js/chunk-vendors.dd4cc5e0.js.map
dist/fonts/MaisonNeue-BookItalic.7bdcc709.otf
dist/fonts/MaisonNeue-Demi.867ffd56.otf
dist/img/fa-brands-400.f7764562.svg
dist/img/fa-light-300.9969a9da.svg
dist/img/fa-regular-400.416d5829.svg
dist/img/fa-solid-900.506bcfea.svg
dist/index.html
dist/js/app.61408883.js
dist/js/app.61408883.js.map
dist/js/chunk-02dbc600.d6380e0d.js
dist/js/chunk-02dbc600.d6380e0d.js.map
dist/js/chunk-2d22d746.757261ec.js
dist/js/chunk-2d22d746.757261ec.js.map
